
#text_div {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    color: #d81c1ce4;

	font-size: 40px;
}

p {
    color: #0b0b0b7a;
    font-size: 16px;
}

body {
	background-color: #f70d0d38;
	width: 1600px;
}

.page {
	background-color: white;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
    width: 1560px;
}

.vis-margin {
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 10px;
	
}

.vis-container {
	width: 100%;
	border-radius: 10px;
    margin-top: 1%;
}

.pure-g {
	margin-bottom: 10px;
}

.top-page {
	background-color:white;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 2%;
	border-radius: 10px;
	width: 1560px;
}

.bottom-page {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.intro-paragraph {
	margin-right: 5%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	margin-left: 5%;
	text-align: justify;
}

.sub-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 45px;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 5px;
}

.paragraph {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 23px;
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
}

.vis-mark{
	margin-right: 20%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
}

h1 {
	font-weight: 900;
	font-size: 80px;
	font-family: 'GFS Didot', serif;
}